.page {
    /* Light mode */
    --background: #f8fafc;
    --foreground: #fff;

    --primary: #ea580c;
    --secondary: #0f172a;
    --tertiary: #f97316;
    --neutral: #64748b;


    /* Dark mode */
    --background-dark: #0f131c;
    --foreground-dark: #0a0e16;

    --primary-dark: #f97316;
    --secondary-dark: #38bdf8;
    --tertiary-dark: #10b981;
    --neutral-dark: #0b0f17;


    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    background-color: var(--background);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }
}

@media (max-width: 600px) {
    .main {
        padding: 48px 24px;
    }

    .intro {
        gap: 16px;
    }

    .intro h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1.92px;
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }

    .page {
        --background: var(--background-dark);
        --foreground: var(--foreground-dark);

        --text-primary: #ededed;
        --text-secondary: #999;

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
        --button-secondary-border: #1a1a1a;
    }
}